 .player-options img,
            .enemy-options img
            {
                max-width: 200px;
                opacity: 0.3;
                cursor: pointer;
            }

            .player-options,.enemy-options{
                width:50%;
            }

            .align{
                display: flex;
                /*centraliza todos elementos inilne / inline-block */
                text-align: center;
            }

            
 .enemy-options img,
            .enemy-options img
            {
                max-width: 200px;
                opacity: 0.3;
                cursor: pointer;
            }

            .player-options,.enemy-options{
                width:50%;
                border: 1px solid black;
            }

            .align{
                display: flex;
            }            